* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-bg: #6943FF;
  --white: #fff;
  --text: #3D3D3D;
  --border: #B295FF;
  --main-bg: #F4F4F4;
  --section-bg: #fefefe;
  --heading-text: #5A537B;
  --para-text: #353535;
}

.dark-mode {
  --main-bg: #1F2937;
  --section-bg: #273549;
  --heading-text: #CCC1FF;
  --para-text: #fff;
}

body {
  background-color: black;
  color: var(--white);
  text-align: center;
  font-family: "Inter", sans-serif;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 340px;
  background-color: var(--header-bg);
  padding: 10px;
}
header .mode-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}
@media (min-width: 768px) {
  header .mode-toggle {
    align-self: flex-end;
    position: absolute;
    top: 40px;
  }
}
header .mode-toggle label {
  font-size: 0.8rem;
}
header .mode-toggle #dark-mode {
  appearance: none;
  -webkit-appearance: none;
  width: 45px;
  height: 25px;
  border: 1px solid var(--white);
  border-radius: 25px;
  background-color: var(--white);
  position: relative;
  transition: background-color 0.3s ease;
}
header .mode-toggle #dark-mode::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--text);
  transition: left 0.3s ease, background-color 0.3s ease;
}
header .mode-toggle #dark-mode:checked {
  background-color: var(--border);
}
header .mode-toggle #dark-mode:checked::after {
  left: 70%;
}
header h1 {
  font-size: 1.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header .input {
  width: 120px;
  height: 80px;
  border: 2px solid var(--border);
  border-radius: 4px;
  text-align: center;
  color: var(--white);
  font-size: 3rem;
  background-color: transparent;
  font-weight: 800;
}
header .button-contain {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  width: 50%;
}
@media (min-width: 768px) {
  header .button-contain {
    display: flex;
    flex-direction: row;
  }
}
header button {
  width: 120px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: var(--white);
  color: var(--text);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  transition: color 0.3s ease, background-color 0.3s ease;
}
header button:hover {
  color: var(--white);
  background-color: var(--text);
}

section {
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  height: 360px;
}
section div {
  background-color: var(--section-bg);
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
section div h2 {
  color: var(--heading-text);
  font-size: 1.2rem;
  font-weight: 600;
}
section div p {
  color: var(--para-text);
  font-weight: 400;
  font-size: 0.8rem;
  height: 1rem;
}

/*# sourceMappingURL=styles.css.map */
