* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-bg: #6943FF;
    --white: #fff;
    --text: #3D3D3D;
    --border: #B295FF;
    --main-bg: #F4F4F4;
    --section-bg: #fefefe;
    --heading-text: #5A537B;
    --para-text: #353535;
}

// SCSS MIXINS
@mixin flex($disp: flex, $dir: null, $just: null, $align: null) {
    display: $disp;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
    @content;
}

@mixin medq($break) {
    @media (min-width: 768px) {
      @content;
    }
  }

// DARK MODE VARIABLES
.dark-mode {
    --main-bg: #1F2937;
    --section-bg: #273549;
    --heading-text: #CCC1FF;
    --para-text: #fff;
}

// STYLES
body {
    background-color: black;
    color: var(--white);
    text-align: center;
    font-family: 'Inter', sans-serif;

}

.container {
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
}

header {
    @include flex($dir: column, $just: space-evenly, $align: center);
    height: 340px;
    background-color: var(--header-bg);
    padding: 10px;
    .mode-toggle {
        @include flex($dir: column, $just: space-evenly, $align: center);
        height: 60px;
        @include medq($break: 768px) {
            align-self: flex-end;
            position: absolute;
            top: 40px;
        }
        label {
            font-size: .6rem;
        }
        #dark-mode { //going to make this a toggle button on header
                appearance: none;
                -webkit-appearance: none;
                width: 45px;
                height: 25px;
                border: 1px solid var(--white);
                border-radius: 25px;
                background-color: var(--white);
                position: relative;
                transition: background-color .3s ease;
                &::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 30%;
                  transform: translate(-50%, -50%);
                  height: 20px;
                  width: 20px;
                  border-radius: 50%;
                  background-color: var(--text);
                  transition: left .3s ease, background-color .3s ease;
                }
                &:checked {
                  background-color: var(--border);
                  &::after {
                    left: 70%;
                  }
                }
            }
        }


    h1 {
        font-size: 1.5rem;
        text-shadow: 0px 4px 4px rgba(0,0,0,0.25);;
    }

    .input {
        width: 120px;
        height: 80px;
        border: 2px solid var(--border);
        border-radius: 4px;
        text-align: center;
        color: var(--white);
        font-size: 3rem;
        background-color: transparent;
        font-weight: 800;
    }
    .button-contain {
        @include flex($dir: column, $just: space-evenly, $align: center);
        height: 100px;
        width: 50%;
        @include medq($break: 768px) {
            @include flex($dir: row);
          }
    }
    button {
        width: 120px;
        height: 40px;
        border-radius: 4px;
        border: none;
        background-color: var(--white);
        color: var(--text);
        box-shadow: 0px 1px 1px rgba(0,0,0,0.25);;
        transition: color .3s ease, background-color .3s ease;
        &:hover {
            color: var(--white);
            background-color: var(--text);
        }
    }
}

section {
    background-color: var(--main-bg);
    @include flex($dir: column, $just: space-evenly, $align: center);
    color: black;
    height: 360px;

    div {
        background-color: var(--section-bg);
        width: 90%;
        height: 100px;
        @include flex($dir: column, $just: space-evenly, $align: center);
        box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
        h2 {
            color: var(--heading-text);
            font-size: 1.2rem;
            font-weight: 600;
        }
        p {
            color: var(--para-text);
            font-weight: 400;
            font-size: .8rem;
            height: 1rem;
        }
    }
}